<br>
<%= paginate @purchasers, window: 5 %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="text-align: center;">Nome Comprador</th>
      <th scope="col" style="text-align: center;">Descrição do Item</th>
      <th scope="col" style="text-align: center;">Preço do Item</th>
      <th scope="col" style="text-align: center;">Qtde. Adquirida</th>
      <th scope="col" style="text-align: center;">Total Bruto</th>
      <th scope="col" style="text-align: center;">Endereço do Comerciante</th>
      <th scope="col" style="text-align: center;">Nome do Comerciante</th>
      <th scope="col" style="text-align: right;"></th>
    </tr>
  </thead>
  <tbody>
    <% @purchasers.each do |purchaser| %>

      <tr>
        <td style="text-align: center;"><%= purchaser.purchaser_name%></td>
        <td style="text-align: center;"><%= purchaser.item_description%></td>
        <td style="text-align: center;">R$ <%= number_to_currency(purchaser.item_price, unit: '', separator: ',', delimiter: '', format: "%n %u") %></td>
        <td style="text-align: center;"><%= purchaser.purchase_count%></td>
        <td style="text-align: center;">R$ <%= number_to_currency(purchaser.total_income, unit: '', separator: ',', delimiter: '', format: "%n %u") %></td>
        <td style="text-align: center;"><%= purchaser.merchant_address%></td>
        <td style="text-align: center;"><%= purchaser.merchant_name%></td>
        <td>
          <div style="display: flex; align-items: center;">
            <%= link_to "Detalhes", purchaser_path(purchaser), class:"btn btn-secondary btn-sm", style: "margin-right: 10px;" %>
            <%= link_to "Editar", edit_purchaser_path(purchaser), class:"btn btn-secondary btn-sm", style: "margin-right: 10px;" %>
            <%= button_to "Deletar", purchaser, method: :delete, data: {turbo_confirm: "Você tem certeza?"}, class: 'btn btn-danger btn-sm' %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div id="purchasers">
    <%= link_to "Adicionar Novo", new_purchaser_path, class:"btn btn-secondary btn-dark" %>
  </div>
  <br>
<%= paginate @purchasers, window: 5 %>