<%= form_for @login_user do |form|%>
 <% if @login_user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@login_user.errors.count, "erro") %> impedem de o login ser realizado:</h2>
      <ul>
        <% @login_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <div class="form-group">
    <%= form.label :username, "Usuário", style: "display: block" %>
    <%= form.text_field :username, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :password, "Senha", style: "display: block" %>
    <%= form.password_field :password, class:"form-control" %>
  </div>
 <%= form.submit "Confirmar", class:"btn btn-secondary" %>
<% end %>