<%= form_for @authentication do |form| %>
 <% if @authentication.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@authentication.errors.count, "erro") %> impedem de salvar o usuário:</h2>
      <ul>
        <% @authentication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :user_role_id, style: "display: block" %>
    <%= form.select :user_role_id, @user_roles, class:"form-control" %>
  </div>
 <%= form.submit "Confirmar", class:"btn btn-secondary" %>
<% end %>